{
  "presets": ["@babel/env", "@babel/preset-typescript", "next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "import",
      {
        "libraryName": "ant-design-pro",
        "libraryDirectory": "lib",
        "style": true,
        "camel2DashComponentName": false
      },
      "antd-prod"
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "@app/core": "./src/server/core",
          "@app/auth": "./src/server/modules/auth",
          "@app/config": "./src/server/config",
          "@app/notification": "./src/server/modules/notification",
          "@client": "./src/client"
        }
      }
    ]
  ]
}
